version: 2.0
api_publish: &api_publish
  docker:
    - image: circleci/node:8.10
  working_directory: ~/swayze-life
  steps:
    - checkout

    - run:
        name: Install Serverless CLI and dependencies
        command: |
            sudo npm i -g serverless
            npm install

    - run:
        name: Publish to AWS
        command: |
            sls deploy --stage $SERVERLESS_RELEASE_CHANNEL
jobs:
  test_api:
    docker:
      -
        environment:
          PIPENV_VENV_IN_PROJECT: true
        image: "circleci/python:2.7"
    steps:
      - checkout

      - run:
          name: Execute Tests
          command: |
              sudo pip install pipenv
              pipenv install
              pipenv run python -m unittest discover -s bingos/ -p '*_test.py'
      -
        store_test_results:
          path: test-api-results
    working_directory: ~/swayze-life

  api_publish_to_aws_dev:
    environment:
      SERVERLESS_RELEASE_CHANNEL: dev
    <<: *api_publish

  api_publish_to_aws_prod:
    environment:
      SERVERLESS_RELEASE_CHANNEL: prod
    <<: *api_publish

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - test_api

      - api_publish_to_aws_dev:
          requires:
            - test_api
          filters:
            branches:
              only: development

      - api_publish_to_aws_dev:
          requires:
            - test_api
          filters:
            branches:
              only: release
